.process{
    background: #ffffff;
    padding: 100px 0;
}
.process .heading{
    letter-spacing: 0.0777778px;
    font-size: 30px;
    color: #2F2F2F;
}
.process-type {
    counter-reset: number;
    list-style-type: none;
    padding-left: 100px;
    
}
.process-type li{
    font-family: CeraPro;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.0777778px;
    color: #2F2F2F;
}
.process-img{
    width: 80%;
}
.process-type li::before {
    counter-increment: number;
    content: counter(number)" ";
    display: flex;
    position: absolute;
    left: 15px;
    font-family: CeraPro;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.0272222px;
    color: #DE4B2A;
    background: #F9D6C4;
    border-radius: 90px;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

@media (max-width:600px){
    .process-img{
        width: 100%;
    }
}
