footer{
    background: #F5F5F5;
    padding: 40px 0;
}
.footer-contact address {
    display: inline-block;
    margin-bottom: 0;
}
.footer-contact a{
    color: #2F2F2F;
}
.footer-contact img{
    margin-right: 10px;
}
.footer-social{
    padding-top: 62px !important;
}
.footer-social img {
    margin-right: 10px;
}
.footer-social img.fb{
    min-width: 19px;
    height: 19px;
}