.slider {
    position: relative;
}
.slider .slider-img {
    width: 100%;
}

.slider-content{
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.slider h2 span {
    color: #2F2F2F !important;
}
