html, body{
  overflow-x: hidden;
}
@font-face {
  font-family: 'CeraPro';
  font-style: normal;
  font-weight: 200;
  src:
    local('CeraPro'),
    local('CeraPro'),
    url(/assets/fonts/CeraPro-Light.otf) format('opentype');
}

@font-face {
  font-family: 'CeraPro';
  font-style: normal;
  font-weight: 400;
  src:
    local('CeraPro'),
    local('CeraPro-Regular'),
    url(/assets/fonts/CeraPro-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'CeraPro';
  font-style: normal;
  font-weight: 600;
  src:
    local('Cera Pro Medium'),
    local('CeraPro-Medium'),
    url(/assets/fonts/CeraPro-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'CeraPro';
  font-style: normal;
  font-weight: 800;
  src:
    local('Cera Pro Bold'),
    local('CeraPro-Bold'),
    url(/assets/fonts/CeraPro-Bold.otf) format('opentype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3, h4, h5, h6, p, span, a{
  font-family: CeraPro;
}

.txt-red{
  color: #2F2F2F;
}